{% extends "base.html" %}
{% block content %}
<h2>Listado de Médicos</h2>
<p><a class="button" href="{{ request.path }}crear/">Crear Médico</a></p>
<table>
  <thead><tr><th>ID</th><th>RUT</th><th>Nombre</th><th>Especialidad</th><th>Sala</th><th>Acciones</th></tr></thead>
  <tbody>
    {% for obj in object_list %}
    <tr>
      <td>{{ obj.id }}</td><td>{{ obj.rut }}</td><td>{{ obj.nombre }}</td><td>{{ obj.especialidad }}</td><td>{{ obj.sala }}</td>
      <td>
        <a href="{{ request.path }}{{ obj.id }}/editar/">Editar</a>
        <a href="{{ request.path }}{{ obj.id }}/eliminar/">Eliminar</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="6">Sin registros</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
