{% extends "base.html" %}
{% block content %}
<h2>Listado de Pacientes</h2>
<p><a class="button" href="{{ request.path }}crear/">Crear Paciente</a></p>
<table>
  <thead><tr><th>ID</th><th>RUT</th><th>Nombre</th><th>Nacimiento</th><th>Género</th><th>Aseguradora</th><th>Acciones</th></tr></thead>
  <tbody>
    {% for obj in object_list %}
    <tr>
      <td>{{ obj.id }}</td><td>{{ obj.rut }}</td><td>{{ obj.nombre }}</td><td>{{ obj.fecha_nacimiento }}</td><td>{{ obj.get_genero_display }}</td><td>{{ obj.aseguradora }}</td>
      <td>
        <a href="{{ request.path }}{{ obj.id }}/editar/">Editar</a>
        <a href="{{ request.path }}{{ obj.id }}/eliminar/">Eliminar</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="7">Sin registros</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
